@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #64B5F6;
    min-height: 100vh;
    max-height: 100%;
    width: 20%;
    padding: 1%;
    position: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 100vh;
    background-color: white;
    margin-left: 20%;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 85%;
    background-color: #64B5F6;
    border-radius: 24px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}

.conta {
    width: 12vh;
    height: 12vh;
    margin-left: 5%;
    border-radius: 100%;
}

.header {
    display: flex;
    justify-content: center;
    width: 93%;
    padding-top: 3%;
    background-color: white;
}

.text {
    font-weight: bold;
    font-size: 230%;
    color: white;
}

a {
    text-decoration: none;
    color: #23306A;
    font-size: 120%;
}

.adm {
    color: white;
    background-color: #64B5F6;
    border: 0;
    font-size: 120%;
}

.icon {
    height: 4vh;
    width: 4vh;
    margin-right: 3%;
}

.aba {
    display: flex; 
    margin-bottom: 10%; 
    align-items: center;
    flex-wrap: wrap;
}

.links {
    background-color: #64B5F6;
    border: 0;
    color: #23306A;
    font-size: 120%;
}
